{% extends 'simple_app_1/checkout.html' %}

{% block title %}Item - {{item.id}}{% endblock %}

{% block content %}
    <p>ID товара: {{item.id}}</p>
    <p>Название товара: {{item.name}}</p>
    <p>Описание товара: {{item.description}}</p>
    <p>Цена товара: {{item.price}}</p>
    <h3>Оплатите в {{item.get_currency_display}}</h3>

    <p id="stripe-public-key" style="display: none;">{{stripe_public_key}}</p>

    <form id="checkout-form">
        <button type="submit" id="checkout-button">Buy</button>
    </form>

    <p id="status-message">Статус: </p>
    <p id="response-data">Ответ: </p>
{% endblock %}

{% block checkout_url %}/buy/{{item.id}}{% endblock %}
